{% block width %}s12 m6{% endblock %}

{% block content %}
	{% if limited|length %}
		<div class="aps-collection">
			{% for item in limited %}
				<div class="aps-collection-item aps-avatar">
					{% if item.BACKGROUND_SRC %}
						<img class="avatar" src="{{ item.BACKGROUND_SRC }}" alt="{{ item.TITLE }}" />
					{% else %}
						<i class="avatar fa {{ item.ICON ?: aps_config('ass_no_image_icon') }} fa-3x icon-gray" aria-hidden="true"></i>
					{% endif %}
					<span class="title">{{ item.TITLE }}</span>
					<a class="aps-secondary-content" href="{{ item.U_VIEW }}">
						{{ item.STOCK }}
					</a>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="error aps-center">{{ lang('ASS_ITEMS_NONE') }}</div>
	{% endif %}
{% endblock %}
