<div class="aps-main">
	<div class="aps-body">
		<div class="aps-row">
			<div class="aps-col s12">
				<div class="shop-title">
					<h1 class="aps-no-mar shop-text-darkgray">{{ TITLE }}</h1>
				</div>
			</div>

			{% if not S_PURCHASE_SUCCESS %}
				<div class="aps-col s6">
					<div class="aps-panel">
						<div class="aps-panel-content aps-center">
							{% if S_SALE %}
								<span class="aps-positive" title="{{ lang('ASS_ON_SALE') }}">{{ aps_display(ASS_PURCHASE_PRICE) }}</span>
							{% else %}
								{{ aps_display(ASS_PURCHASE_PRICE) }}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="aps-col s6">
					<div class="aps-panel">
						<div class="aps-panel-content aps-center" title="{{ lang(S_STOCK_UNLIMITED ? 'ASS_UNLIMITED_STOCK' : (STOCK ? 'ASS_STOCK' : 'ASS_STOCK_OUT')) }}">
							{% if S_STOCK_UNLIMITED %}
								<strong>&infin;</strong>
							{% elseif STOCK %}
								<strong class="{{ STOCK ? 'icon-gold' : 'error' }}">{{ STOCK }}</strong>&thinsp;/{{ STOCK_INITIAL }}
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}

			<div class="aps-col s12">
				<div class="aps-panel">
					<div class="aps-panel-content">
						<ul class="fa-ul shop-darken-span shop-text-left">
							<li>
								<i class="icon fa-hashtag fa-li"></i>
								{% if COUNT %}
									{{ lang('ASS_ITEM_USE_COUNT', COUNT) }}
								{% else %}
									{{ lang('ASS_ITEM_USE_UNLIMITED') }}
								{% endif %}
							</li>
							<li>
								<i class="icon fa-hourglass-start fa-li"></i>
								{% if EXPIRE_WITHIN %}
									{{ lang('ASS_ITEM_EXPIRE_WITHIN', EXPIRE_WITHIN) }}
								{% else %}
									{{ lang('ASS_ITEM_EXPIRE_NEVER') }}
								{% endif %}
							</li>
							<li>
								<i class="icon fa-undo fa-li"></i>
								{% if REFUND_WITHIN %}
									{{ lang('ASS_ITEM_REFUND_WITHIN', REFUND_WITHIN) }}
								{% else %}
									{{ lang('ASS_ITEM_REFUND_NEVER') }}
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
			</div>

			{% if not S_PURCHASE_SUCCESS and not S_ASS_PURCHASE %}
				<div class="aps-col s12">
					<div class="aps-panel">
						<div class="aps-panel-content">
							<form class="aps-form">
								<label class="shop-block shop-mar-bot" for="username">{{ lang('ASS_GIFT_USER') }}</label>
								<input id="username" name="username" type="text" placeholder="{{ lang('USERNAME') }}">
							</form>
						</div>
					</div>
				</div>
			{% endif %}

			<div class="aps-col s12">
				<div class="aps-panel">
					<div class="aps-panel-content">
						{% if not S_PURCHASE_SUCCESS %}
							{{ MESSAGE_TEXT }}
						{% else %}
							<p>
								{% if S_ASS_PURCHASE %}
									<span class="shop-text-darkgray shop-block">{{ lang('ASS_PURCHASE_SUCCESS') }}</span>
									{{ lang('ASS_INVENTORY_ADDED') }}
								{% else %}
									<span class="shop-text-darkgray shop-block">{{ lang('ASS_GIFT_SUCCESS') }}</span>
									{{ lang('ASS_INVENTORY_ADDED_USER', RECIPIENT_NAME) }}
								{% endif %}
							</p>
							<p>
								<span class="shop-block">
									{{ lang('ASS_POINTS_DEDUCTED') ~ lang('COLON') }}
									{{ aps_display(ASS_PURCHASE_PRICE) }}
								</span>
								<span class="shop-block">
									{{ lang('ASS_POINTS_BALANCE', aps_name()) ~ lang('COLON') }}
									{{ aps_display(NEW_USER_POINTS) }}
								</span>
							</p>

							{% if EXPIRE_UNIX %}
								<p>
									<span class="shop-block">{{ lang('ASS_ITEM_USE_BEFORE') }}</span>
									{{ user.format_date(EXPIRE_UNIX) }}
								</p>
							{% endif %}

							<p>
								{% if S_ASS_PURCHASE %}
									<a class="aps-button-blue" href="{{ U_INVENTORY }}">{{ lang('ASS_INVENTORY_GO') }}</a>
								{% else %}
									<a class="aps-button-blue" href="{{ path('phpbbstudio_ass_shop') }}">{{ lang('ASS_SHOP_INDEX') }}</a>
									{% if U_SEND_PM %}
										<a class="aps-button-green" href="{{ U_SEND_PM }}">{{ lang('SEND_PRIVATE_MESSAGE') }}</a>
									{% endif %}
								{% endif %}
							</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
