{% extends '@phpbbstudio_aps/aps_main.html' %}

{% block includes %}
	{% INCLUDEJS '@phpbbstudio_ass/js/slick.min.js' %}
	{% INCLUDECSS '@phpbbstudio_ass/slick.css' %}

	{% INCLUDEJS '@phpbbstudio_ass/js/ass_common.js' %}
	{% INCLUDECSS '@phpbbstudio_ass/ass_common.css' %}
{% endblock %}

{% block nav %}
	{% for category in ass_shop_categories %}
		<li>
			<a class="aps-list-item{{ category.S_SELECTED ? ' aps-list-active' }}" href="{{ category.U_VIEW }}" title="{{ category.TITLE }}">
				{% if category.ICON %}<i class="icon {{ category.ICON }} fa-fw" aria-hidden="true"></i>{% endif %}
				<span class="sr-only">{{ category.TITLE }}</span>
			</a>
		</li>
	{% endfor %}
{% endblock %}

{% block main %}
	{{ include('@phpbbstudio_ass/ass_carousel.html') }}

	<div class="aps-row">
		{% for panel, data in ass_panels %}
			{% if attribute(loops, 'ass_' ~ panel) is defined %}
				{% set items = attribute(loops, 'ass_' ~ panel) %}
				{% if data.carousel %}
					<div class="aps-col s12 m6 shop-fake-width">
						<div class="aps-panel">
							<div class="aps-panel-header">
								{% set icon = attribute(_context, 'SHOP_PANEL_' ~ panel|upper ~ '_ICON') %}
								{% if icon %}
									<i class="icon shop-panel-icon{{ icon }}"></i>
								{% endif %}

								<h3>{{ lang(data.title) }}</h3>
							</div>
							<div class="aps-panel-content shop-overflow shop-no-pad">
								<div data-shop-carousel="true">
									{% for item in items %}
										{{ include('@phpbbstudio_ass/ass_item_carousel.html') }}
									{% else %}
										<div class="aps-center shop-vertical shop-padding shop-panel-height">
											<strong class="error">{{ lang('ASS_ITEMS_NONE') }}</strong>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="aps-panel-footer shop-carousel-footer"></div>
						</div>
					</div>
				{% else %}
					{% for item in items %}
						<div class="aps-col s6 m{{ aps_config('ass_panel_' ~ panel ~ '_width') }}">
							{{ include('@phpbbstudio_ass/ass_item_panel.html', { ITEM_PANEL_ICON: attribute(_context, 'SHOP_PANEL_' ~ panel|upper ~ '_ICON') }) }}
						</div>
					{% endfor %}
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
